@import url('http://fonts.googleapis.com/css?family=Tangerine');

body, .smooth-container {
	scroll-behavior: smooth
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	/* background-color: black; */
	font-family: helvetica;
}

ul {
	position: relative;
	top: 50%;
	/* transform: translateY(-50%); */
	padding: 0px;
	margin: 0px;
}


ul li a {
	color: black;
	display: block;
	text-decoration: none;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #d9d9d9;
	padding-left: 15px;
	margin: 4px 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.landing {
	height: 100vh;
	width: 100%;
	background: url('landing2.jpg') no-repeat 50%;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttons > ul > li {
	list-style-type: none;
}

.circle-container {
	height: 350px;
	width: 100%;
}

.interphase {
	height: 100%;
}


.container {
	/* margin-top: 6%; */
	position: relative;
	width: 100%;
	top: 0px;
}

#title {
	font-family: 'Lato', sans-serif;
	color:#303030;
	font-size: 400%;
	animation-name: move;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	padding-left: 33.5px;
	/* margin-top: 10%; */
}

#circle {
    background-color: rgba(204, 0, 102, 0);
    border: 40px solid #000;
    /* height: 350px; */
    width: 30%;
	height: 105%;
    -webkit-border-radius:50%;
    /* -moz-border-radius:50%; */
	margin: 0 auto;
	position: relative;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(-60%);
}

#start {
	display: block;
	text-align: center;
	margin: 0;
	position: relative;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.proj-title {
	color: #fff;
	text-align: center;
	margin: 0px;
	position: relative;
	top: 15%;
}

#proj-subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

#start a {
	border: 2px white solid;
	padding: 15px 25px 15px 25px;
	font-size: 20px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	transition: 1s;
}

#start a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	border-color: black;
	color: black;
	cursor: pointer;
}



@keyframes move {
  from {
    transform: translateY(10vw);
	color: rgb(0, 0, 0, 0);
  }
  to {
    transform: translateY(0vw);
	color: rgb(0, 0, 0, 100);
  }
}
