body {
	/* background-color: black; */
	margin: 0px;
	font-family: helvetica;
}

header {
	line-height: 95px;
	/* background-color: black; */
}

nav {
	display: inline-block;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

nav a {
	text-decoration: none;
	color: white;
	margin: 0px 10px;
}

span {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	text-align: center;
}

#logo {
	width: 100px;
	vertical-align: middle;
}

#title {
	top: 20%;
	font-size: 50px;
	font-weight: 600;
}

#subtitle {
	top: 30%;
	font-size: 30px;
	font-weight: 200;
}

.section {
	margin: 0px 0px;
	height: 100vh;
}

.home {
	margin: 0px;
	line-height:700px;
}

.section > h1 {
	margin: 0px 0px 0px 0px;
	text-align: center;
	position: relative;
	top: 20px;
}

.section p {
	margin: 50px;
}

.home::before {
	content: ' ';
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0.9;
	background-image: url(images/background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.Disease1::before {
	content: ' ';
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0.5;
	background-image: url(images/background2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.Disease2::before {
	content: ' ';
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0.5;
	background-image: url(images/background3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.Disease3::before {
	content: ' ';
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0.5;
	background-image: url(images/ebola.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.References::before {
	content: ' ';
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0.5;
	background-image: url(images/background5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.button {
	position: relative;
	left: 46%;
	vertical-align: baseline;
	border: 2px solid black;
	padding: 15px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.button:hover {
	transform: scale(1.1, 1.1);
	color: white;
	border: 2px solid white;

}

.current {
	font-weight:800;
}
